<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>NITT Physics Fest</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo.png" rel="icon">
  <link href="assets/img/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a href="/" class="scrollto"><img src="assets/img/logo.png" alt="" title="">INPHYNITT</a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#schedule">Schedule</a></li>
          <li><a class="nav-link scrollto" href="#faq">Guidelines</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#venue">Venue</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a class="buy-tickets scrollto" href="https://forms.gle/sUbvSfgMkZ6KySGU6" target="_blank">Click to Register for offline</a>
      <a class="buy-tickets scrollto" href="https://forms.gle/1eQNVSakPFsguQqF9" target="_blank">Click to Register for online</a>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">INPHYNITT<br> <span>NIT Trichy</span></h1>
      <p class="mb-4 pb-0">Department of Physics NIT Trichy,620015 <br>10th Edition</p>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The INPHYNITT</h2>
            <p>It is a national level science festival,
              held by the Department of Physics every year to entice young minds to explore the Physics beyond the textbooks. 
              The Department has been conducting the science fest ever since it’s inception. The name InPhyNITT was coined in 2012.
            </p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>NITT campus</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>7th March</p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

   <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Event Schedule</h2>
          <p>Here is our event schedule</p>
        </div>

        <!-- <h3 class="sub-heading">Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius
          necessitatibus voluptatem quis labore perspiciatis quia.</h3> -->

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

            <div class="row schedule-item">
              <div class="col-md-2"><time>8.30 AM</time></div>
              <div class="col-md-10">
                <h4>Reporting Time</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>9:30 AM</time></div>
              <div class="col-md-10">
                <h4>Inagural</h4>
                </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:30 AM</time></div>
              <div class="col-md-10">
                <h4>Preliminaries</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:30 AM</time></div>
              <div class="col-md-10">
                <h4>Pitch Perfect</h4>
                </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11.30 AM</time></div>
              <div class="col-md-10">
                <h4>Art Lab</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>12.45 To 2.00 PM</time></div>
              <div class="col-md-10">
                <h4>LUNCH</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>2 PM</time></div>
              <div class="col-md-10">
                <h4>3 Midgets (Event)</h4>
                </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>2 PM</time></div>
              <div class="col-md-10">
                <h4>Quiz Panel (Event)</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>2 PM</time></div>
              <div class="col-md-10">
                <h4>A Bad Advert (Event)</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>4.30 PM</time></div>
              <div class="col-md-10">
                <h4>Veledictory (Event)</h4>
              </div>
            </div>

          </div>
          <!-- End Schdule Day 1 -->
        </div>

      </div>

    </section><!-- End Schedule Section -->

    <!-- =======  Rules Section ======= -->
    <section id="faq">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Guidelines</h2>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-9">

            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" href="#faq2" >Both UG & PG are allowed to participate
                  .<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq1">Online event is open for all science enthusiastic students(other than physics also).
                  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3">Spot registration is also available on the day of event (with additional charges).
                  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq4">Students must bring their original college ID Card. 
                  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq5">All the students attending the program should pay the registration fee. 
                  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq6">Registration fee can be paid on the day of the event for spot registrations only. 
                  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq6">All the participants are requested to report to the registration desk at the venue by 8.30-8:45 a.m.
                  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq6">Last date for online registration : 4th March 2023
                  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq6">Registration Fee: 150₹ per head (without accommodation) 
                                                              :  200₹ per head (with accommodation)
                                                              LUNCH WILL BE PROVIDED
                  Event coordinator's decision is final in all events.
                  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                </div>
              </li>

            </ul>

          </div>
        </div>

      </div>

    </section><!-- End  F.A.Q Section -->


    <!-- ======= Venue Section ======= -->
    <section id="venue">

      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h2>Event Venue</h2>
          <p>Event venue location info and gallery</p>
        </div>

        <div class="row g-0">
          <div class="col-lg-6 venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1455.2190833480402!2d78.8124122738151!3d10.758984481846891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baa8d47758e1ae1%3A0xb3e16389eeab05a!2sNational%20Institute%20of%20Technology%20Tiruchirappalli!5e0!3m2!1sen!2sin!4v1675614886615!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3>NIT Trichi Campus</h3>
                <ul>
                  <li><p>OJAS building</p></li>
                  <li><p>BARN Hall</p></li>
                  <li><p>Administrative Halls</p></li>
                </ul>
                
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Venue Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a href="assets/img/gallery/1.jpg" class="gallery-lightbox"><img src="assets/img/gallery/1.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/2.jpg" class="gallery-lightbox"><img src="assets/img/gallery/2.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/3.jpg" class="gallery-lightbox"><img src="assets/img/gallery/3.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/4.jpg" class="gallery-lightbox"><img src="assets/img/gallery/4.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/5.jpg" class="gallery-lightbox"><img src="assets/img/gallery/5.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/6.jpg" class="gallery-lightbox"><img src="assets/img/gallery/6.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/7.jpg" class="gallery-lightbox"><img src="assets/img/gallery/7.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/8.jpg" class="gallery-lightbox"><img src="assets/img/gallery/8.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/1.jpg" class="gallery-lightbox"><img src="assets/img/1.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/2.jpg" class="gallery-lightbox"><img src="assets/img/2.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/3.jpg" class="gallery-lightbox"><img src="assets/img/3.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/4.jpg" class="gallery-lightbox"><img src="assets/img/4.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/5.jpg" class="gallery-lightbox"><img src="assets/img/5.jpg" class="img-fluid" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact Us</h2>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <a href="https://goo.gl/maps/oGpzcZNe9PA1hAN49" target="_blank"><h3>Address</h3></a>
              <address></address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p>9791087914</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:teaminphynitt@gmail.com">teaminphynitt@gmail.com</a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>