<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>TheEvent Bootstrap Template - Index</title>
        <meta content="" name="Registration Form">
        <meta content="" name="NIT TRICHI">

        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <link href="assets/css/style.css" rel="stylesheet">
    </head>
    <body>
      <header id="header" class="d-flex align-items-center " style="background-color: rgba(6, 12, 34, 0.98);">
        <div class="container-fluid container-xxl d-flex align-items-center">
    
          <div id="logo" class="me-auto">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="/" class="scrollto"><img src="assets/img/logo.png" alt="" title="">INPHYNITT</a>
          </div>
    
          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="nav-link scrollto" href="/">Home</a></li>
              <li><a class="nav-link scrollto" href="/#about">About</a></li>
              <li><a class="nav-link scrollto" href="/#schedule">Schedule</a></li>
              <li><a class="nav-link scrollto" href="/#venue">Venue</a></li>
              <li><a class="nav-link scrollto" href="/#faq">Guidelines</a></li>
              <li><a class="nav-link scrollto" href="/#gallery">Gallery</a></li>
              <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
 
    
        </div>
      </header><!-- End Header -->
    

      <div class="container myContaine">
          <div class="row form-row">
            <div class="form-col col-md-6">
              <div class="outerForm">
                  <form class="innerForm" action="/register" method="post">
                    <input type="text" id="Name" class="form-control" name="Name" placeholder="Name"/>
                    <input type="email" id="Email" class="form-control" name="Email" placeholder="Email"/>
                    <input type="tel" id="Mobile_No" class="form-control" name="Mobile" placeholder="Mobile No."/>
                    <input type="text" id="College_Name" class="form-control" name="College" placeholder="College Name"/>
                    <input type="text" id="Transaction_ID" class="form-control" name="Transaction" placeholder="Transaction ID"/>
                    <div class="payNow">
                      <a href="upi://pay?pa=rakeshvanga20002@ybl&pn=rakesh vanga&mc=0000&mode=02&purpose=00" class="form-control payBtn" target="_blank">Pay Now</a>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg form-control">Register</button>
                  </form>
              </div>
            </div>
            <div class="mobile-hidden QRCode form-col col-md-6">
              <img src="assets/img/QR.jpeg" class="img-fluid" alt="Sample image">
            </div>
          </div>
      </div>
      <section id="contact" class="section-bg" style="background-color:#406882; margin-top: 4%; padding-top: 2%;">

        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Contact Us</h2>
          </div>
  
          <div class="row contact-info">
  
            <div class="col-md-4">
              <div class="contact-address">
                <i class="bi bi-geo-alt"></i>
                <a href="https://goo.gl/maps/oGpzcZNe9PA1hAN49" target="_blank"><h3>Address</h3></a>
                <address></address>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-phone">
                <i class="bi bi-phone"></i>
                <h3>Phone Number</h3>
                <p>9791087914</p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-email">
                <i class="bi bi-envelope"></i>
                <h3>Email</h3>
                <p><a href="mailto:teaminphynitt@gmail.com">teaminphynitt@gmail.com</a></p>
              </div>
            </div>
  
          </div>
  
          <div class="form">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="text" name="name" class="form-control" style="border-radius: 6px;" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" style="border-radius: 6px;" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" style="border-radius: 6px;" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  



        <!-- <section class="vh-100" style="background-color: #eee;">
            <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                  <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                      <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
          
                          <form class="mx-1 mx-md-4">
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="text" id="Name" class="form-control" placeholder="Name"/>
                              </div>
                            </div>
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="email" id="Email" class="form-control" placeholder="Email"/>
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="tel" id="Mobile_No" class="form-control" placeholder="Mobile No." pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"/>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="text" id="College_Name" class="form-control" placeholder="College Name"/>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="text" id="Transaction_ID" class="form-control" placeholder="Transaction ID"/>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0" style="text-align: center;">
                                  <a href="upi://pay?pa=rakeshvanga20002@ybl&pn=rakesh vanga&mc=0000&mode=02&purpose=00" target="_blank">Pay Now</a>
                                </div>
                            </div>
          
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                              <button type="button" class="btn btn-primary btn-lg">Register</button>
                            </div>
          
                          </form>
          
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                          <img src="assets/img/QR.jpeg" class="img-fluid" alt="Sample image" style="height: 300px; width: 400px; margin-left: 20px; margin-bottom: 20%;">
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section> -->
    </body>
</html>